body
{
    margin: 0px;
    padding: 0px;
    background-image: url("log.jpg");
    font-family: sans-serif;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  

}
.log-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
   transform: translate(-50%,-50%);
   /* background-image: url("gro.jpeg"); */

}
h1{
    color: white;
    font-size: 2.5rem;
    letter-spacing: .6rem;
    font-weight: 300;
    border-bottom: solid red 6px;
    float: left;
    margin-bottom: 30px;

}
.textbox
{
    width: 100%;
    border-bottom: solid red  1px;
    margin-bottom: 10px;
    font-size: 30px;
   padding: 8px 0;
   margin: 8px;
overflow: hidden;
background-color: transparent;;
   
}
i{
    color: ivory;
    padding-right: 10px;
    size: 1.5rem;
}
 .textbox input
{
    border:none;
    background: none;
    outline: none;
    width: 90%;
    size: 1.3rem;
    padding: 10px 30px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: wheat;
    opacity: 1; /* Firefox */
  }
.btn
{
    width: 100%;
    color: white;
    margin:10px 0;
    outline: none;
    background: none;
    size: 1.5rem;
    padding: 10px 20px;
    
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.lin ul{
    list-style: none;
    padding: 10px 20px;
    float: left;
    display: flex;
    
}
.lin ul li a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 1.5rem;
    color:rgb(247, 247, 110);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .3s;
    font-weight: 400;
}
li a:hover{
    color: crimson;
    opacity: .5;
}